<div class="container-fluid">
   <h2>
       Automotive Locksmith
      <small>
         Kanab | and Surrounding Areas in Utah and Arizona
      </small>
    </h2>
  <%= render "pages/layouts/automotive_locked_out" %>
  <div class="row">
    <div class="col-md-3">
       <%= image_tag("kerry.jpg", class: "image-responsive image-automotive center-block") %>
    </div>
    <div class="col-md-9">
      <div class="page-header">

      </div>
      <div class="panel panel-default">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5>Serving Kanab, Fredonia, Colorado City, and Surrounding Areas</h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-text">
            <p>
              We know that accidents happen and you may lock your keys in your car or even lose your car keys, no matter where you live. But why pay the extra cost to get your car towed, just to then pay even more to get the problem fixed.
            </p>
            <hr>
            <p>
              We know that you're anxious to get back on your way without having to break the bank. That's why at Jensen Locksmithing, with offices in Hurricane and La Verkin, Utah, we can get you back driving in your vehicle in a hurry and at an affordable price!
            </p>
            <hr>
            <p>
              We are a mobile locksmith company, so we'll drive to you to help you out in these unfortunate situations. Our prices are affordable and we provide high quality service. Having expert locksmiths, with specialized tools, work on unlocking your car or cutting you a new key will insure you get back into your car quickly, safely and without damage to your vehicle.
            </p>
            <hr>

              <ul>
                <li>Unlock your vehicle if you locked your keys in it</li>
                <li>Create backup keys (highly recommended)</li>
                <li>Program keys to your vehicle (if needed)</li>
                <li>Cut new keys,  if yours are lost or damaged</li>
                <li>Program car remotes</li>
                <li>Program proximity remotes</li>
                <li>Cut high security car keys</li>
                <li>Fix old or broken ignitions</li>
              </ul>
            </div>
        </div>

        <div class="panel-footer">
          <div class="panel-text">
            Call us now at 435-319-0361, and we’ll get to you quickly!
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-offset-3 col-md-3">
      <%= image_tag("automotive/kanab1.jpg", class: "center-block image-responsive automotive-bottom-image") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("automotive/kanab2.jpg", class: "center-block image-responsive automotive-bottom-image") %>
    </div>
  </div>

  <div class="row">
    <%= render "pages/layouts/automotive" %>
  </div>
</div>


