<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <%= image_tag("phil.jpg", class: "image-responsive image-residential center-block") %>
      <div class="information">
        <a href="tel:435.319.0361">
          <button type="button" class="btn btn-default btn-lg" style="margin-top:10px; margin-bottom: 20px;>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call Now
          </button>
        </a>
      </div>
     <%= image_tag("van.jpg", class: "image-responsive center-block", style: "width:280px; height: 180px; border-radius:10%") %>

    </div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>
           Commercial Locksmith
          <small>
            Serving all of Washington County Utah and Surrounding Areas
          </small>
        </h1>
      </div>


      <div class="panel panel-default">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h5>Commercial Locksmith Services</h5>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-text">
            <p >
              At Jensen Locksmithing we know how important it is to keep your business safe and secure. With crime rates rising today, it is more important than ever to keep those who don’t belong inside your commercial property out.
            </p>
            <p>
              We specialize in helping you stay secure with our state of the art commercial locks and key systems that will keep those who don’t belong inside from getting into your establishment.
            </p>

            <p>
              With commercial property being high risk for losing money due to theft or vandalism, Jensen Locksmithing would love to put your mind at ease by securing your property.
            </p>


            <ul>
              <li>Install secure commercial locks</li>
              <li>Repair existing commercial locks</li>
              <li>Install panic bars</li>
              <li>Re-key locks to one master key</li>
              <li>Duplicate and stamp as many keys as needed for managers and/or employees</li>
              <li>Re-key locks for apartments every time new tenants move in or out</li>
              <li>Install and program touchpad deadbolts so the deadbolt code is the only thing that needs to be
              changed with new tenants moving in and out of apartment rooms</li>
              <li>Get you back in if you ever get locked out</li>
            </ul>
          </div>
        </div>

        <div class="panel-footer">
          <div class="panel-text">
            Call us now at 435-319-0361, and we’ll give you our very affordable rate.
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= image_tag("commercial1.jpg", class: "image-responsive center-block", style: "width:280px; height: 180px; border-radius:10%") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("commercial2.jpg", class: "image-responsive center-block", style: "width:280px; height: 180px; border-radius:10%") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("commercial3.jpg", class: "image-responsive center-block", style: "width:280px; height: 180px; border-radius:10%") %>
      </div>
    </div>

  </div>
</div>
