  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("contact/hurricane_office.jpg", style: "height: 200px; width: 356px", class: "image-responsive center-block") %>
      <div class="caption">
        <h3>Hurricane</h3>
        <p>568 North 2480 West Hurricane, UT 84737</p>
        <p>
          <a href="https://goo.gl/maps/ceXpm2BV4n22" class="btn btn-primary" role="button">Map</a>

          <a href="tel:435.319.0361" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call</a>
        </p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("contact/laverkin_office.jpg", style: "height: 200px; width: 355px", class: "image-responsive center-block") %>
      <div class="caption">
        <h3>La Verkin</h3>
        <p>323 West 400 North, La Verkin Utah 84745</p>
        <p>
          <a href="https://goo.gl/maps/W2gF1Cw7VMA2" class="btn btn-primary" role="button">Map</a>
          <a href="tel:435.319.0361" class="btn btn-default" role="button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call</a></p>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("contact/stgeorge_office.jpg", style: "height: 200px; width: 355px", class: "image-responsive center-block") %>
      <div class="caption">
        <h3>St. George</h3>
        <p>3143 South 840 Suite 342 East St George, UT 84770 </p>
        <p>
          <a href="https://goo.gl/maps/BbMn36EitfF2" class="btn btn-primary" role="button">Map</a>
          <a href="tel:435.319.0361" class="btn btn-default" role="button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call</a>
        </p>
      </div>
    </div>
  </div>
</div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("contact/ivins_office.jpg", style: "height: 200px; width: 355px", class: "image-responsive center-block") %>
      <div class="caption">
        <h3>Ivins</h3>
        <h4>We have a new Locksmith at our Ivins Location!</h4>
        <p>33 West 520 South Ivins, UT 84748 </p>
        <p>
          <a href="https://goo.gl/maps/SrZCaqh2jCx" class="btn btn-primary" role="button">Map</a>
          <a href="tel:435.669.4637" class="btn btn-default" role="button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call</a>
        </p>
      </div>
    </div>
  </div>
</div>



<div class="contact-header">
  <h1>Contact Jensen Locksmithing</h1>
</div>
<div class="row contact-us">
  <div class="col-md-offset-4 col-md-4">
  <%= form_tag("/contact_form", method: 'put', class: "contact-us") do %>
    <div class="form-group">
      <%= label_tag(:name) %>
      <%= text_field_tag(:name, nil, {placeholder: 'Name', class: "form-control"})  %>
    </div>

    <div class="form-group">
      <%= label_tag(:email) %>
      <%= email_field_tag(:email, nil, {placeholder: 'Email', class: "form-control"})  %>
    </div>

    <div class="form-group">
      <%= label_tag(:contact_time, "Best Time To Contact You") %>
      <%= select_tag(:contact_time, raw("<option>Morning</option><option>Noon</option><option>Afternoon</option><option>Evening</option>"), include_blank: true, class: "form-control") %>
    </div>

    <hr>

    <div class="form-group">
      <%= label_tag(:subject) %>
      <%= text_field_tag(:subject, nil, {placeholder: 'Subject', class: "form-control"})  %>
    </div>

    <div class="form-group">
      <%= label_tag(:message) %>
      <%= text_area_tag(:message, nil, {class: "form-control", rows: '5'}) %>
    </div>

    <button type="submit" class="btn btn-default">Send</button>
  </form>
  <% end %>
</div>

<!--     <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
 -->
