<div class="row" style="margin-top: 20px">
  <div class="col-md-offset-3 col-md-5">
    <div class="jumbotron automotive-lower-text">
      <h2><%= @bottom_text1.title %></h2>
      <p>
        <%= simple_format(@bottom_text1.body) %>
      </p>

      <h2><%=@bottom_text2.title %></h2>
      <p>
        <%= simple_format(@bottom_text2.body) %>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Schedule Now</a></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="jumbotron automotive-lower-text">
      <h3><%= @bottom_text3.title %></h3>
      <p>
        <%= simple_format(@bottom_text3.body) %>
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Schedule Now</a></p>
    </div>
  </div>
</row>
