<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    From: <%= @name %>
    <p>
    Email: <%= @email %>
    </p>
    <p>
    Contact Time: <%= @contact_time %>
    </p>
    <p>
    Subject: <%= @subject %>
    </p>
    <p>
    Message: <%= @message %>
    </p>
  </body>
</html>
