<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-mobile" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag("logo.png", class: "locksmith-logo")%></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-mobile">
      <ul class="nav navbar-nav" id="main-navbar">

        <!-- <li class="active"> -->
        <li>
          <%= link_to "Home", home_path %>
          <span class="sr-only">(current)</span>
        </li>

        <li>
          <%= link_to "Residential", residential_path %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Automotive
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "General Automotive", automotive_path %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to "St. George | Washington", automotive_st_george_path %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to "Hurricane | La Verkin", automotive_hurricane_path %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to "Springdale | Zion National Park", automotive_springdale_path %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to "Kanab | And Surrounding Areas", automotive_kanab_path%>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to "Commercial", commercial_path %>
        </li>

        <li>
          <%= link_to "Blog", blog_path %>
        </li>

        <li>
          <%= link_to "Reviews", "http://www.yelp.com/biz/jensen-locksmithing-la-verkin-3" %>
        </li>

        <li>
          <%= link_to "Contact Us", contact_path %>
        </li>

        <% if admin_signed_in? %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Dashboard", admin_panel_path %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to "Sign Out", destroy_admin_session_path, method: :delete  %>
            </li>
          </ul>
        </li>

        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="call-us" href="tel:435.319.0361">Call Us: 435-319-0361</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>

